<div class='mt-4'>
    <div class="row">
        <div class="col-md-6">
            <h2>Author Lists</h2>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-secondary mr-2" (click)="addAuthor($event)">
                Add Author
            </button>
        </div>
    </div>

    <form class="form-group" [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)">
        <div class="input-group mb-3">
            <input type="text" formControlName="search_text" class="form-control" placeholder="Search Last Name" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="la la-search"></i></button>
            </div>
        </div>
    </form>
    
    <table class="table mt-2">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let author of author_list">
                <th scope="row">
                    <span *ngIf="author.email"> {{ author.email }} </span>
                    <span *ngIf="!author.email"> None </span>
                </th>
                <td>{{ author.first_name }}</td>
                <td>{{ author.last_name }}</td>
            </tr>
        </tbody>
    </table>
</div>
