  
<div class="container p-5">
    <h3 class="section-title mb-3">Settings</h3>

    <form [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)">
        <div>
            <label>First Name:</label>
            <input class="form-control" formControlName="first_name" type="text">
        </div>

        <div>
            <label>Last Name:</label>
            <input class="form-control" formControlName="last_name" type="text">
        </div>

        <div>
            <label>Email:</label>
            <input class="form-control" formControlName="email" type="text">
        </div>

        <div class="text-right">
            <button class="btn btn-secondary mt-3" type="submit">Update</button>
        </div>
    </form>
</div>