<div class="container p-5">

    <h3 class="section-title mb-3">Login</h3>
    <small class="font-red" *ngIf="this.backend_error">Invalid Email and Password</small>
    <form [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)">
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" formControlName="email" type="text">
            <div class="font-red" *ngIf="this.form.form.controls['email'].errors
                && (this.form.form.controls['email'].touched || this.form_submitted)">
                <span *ngIf="this.form.form.controls['email'].value === '' || this.form.form.controls['email'].value === null">
                    <small class="font-red" *ngIf="this.form.form.controls['email'].errors.required">*required</small>
                </span>
                <span *ngIf="this.form.form.controls['email'].value !== ''">
                    <small class="font-red" *ngIf="this.form.form.controls['email'].errors.email">*invalid email</small>
                </span>
            </div>
        </div>
        <div>
            <label>Password:</label>
            <input class="form-control" formControlName="password" type="password">
            <small class="font-red" *ngIf="this.form.form.controls['password'].errors 
                && (this.form.form.controls['password'].touched || this.form_submitted)">
                *required
            </small>
        </div>
        <div class="text-right">
            <button class="btn btn-secondary mt-3" type="submit">Login</button>
        </div>
    </form>
    

    <div class="form-group mt-3 text-center">
        <p><a href='#' (click)='register($event)'>Don't have an account?</a></p>
    </div>

</div>