<nav class="navbar navbar-expand navbar-light bg-light">
    <span class="navbar-brand text-color navigation-title">Exactus Library</span>

    <div class="navbar-nav">
        <a class="nav-item nav-link" [ngClass]="{active: state.includes('dashboard')}" (click)="navigationRedirect($event, 'dashboard')" href="#">Dashboard</a>
        <a class="nav-item nav-link" [ngClass]="{active: state.includes('author-list')}" (click)="navigationRedirect($event, 'author-list')" href="#">Author List</a>
    </div>

    <div ngbDropdown class="navbar-nav ml-auto">
        <a ngbDropdownToggle class="nav-item nav-link dropdown-toggle" href="#" (click)="dropdownClick($event)">
            <span>
                {{ auth.user.email }}
            </span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a ngbDropdownItem class="dropdown-item" (click)="navigationRedirect($event, 'add-book')" href="#">Add a Books</a>
            <a ngbDropdownItem class="dropdown-item" (click)="navigationRedirect($event, 'owned-books')" href="#">Owned Books</a>
            <a ngbDropdownItem class="dropdown-item" (click)="navigationRedirect($event, 'borrowed-books')" href="#">Borrowed Books</a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem class="dropdown-item" (click)="navigationRedirect($event, 'settings')" href="#">Settings</a>
            <a ngbDropdownItem class="dropdown-item" (click)="navigationRedirect($event, 'logout')" href="#">Logout</a>
        </div>
    </div>
</nav>