<div class='mt-4'>
    <div class="row">
        <div class="col-md-6">
            <h2>Owned Books</h2>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-secondary mr-2" (click)="addBook($event)">
                Add Book
            </button>
        </div>
    </div>

    <form class="form-group" [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)">
        <div class="input-group mb-3">
            <input type="text" formControlName="search_text" class="form-control" placeholder="Search Title" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="la la-search"></i></button>
            </div>
            <div class="input-group-append" ngbDropdown>
                <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle><i class="la la-filter"></i> Filter</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                    <a class="dropdown-item" href="." ngbDropdownItem (click)="filterClick($event, 'all')">All</a>
                    <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'available')">Available</a>
                    <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'checked out')">Checked Out</a>
                    <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'lost')">Lost</a>
                    <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'damaged')">Damaged</a>
                    <a class="dropdown-item" href="#" ngbDropdownItem (click)="filterClick($event, 'digital copy')">Digital Copy</a>
                </div>
            </div>
        </div>
    </form>
    
    <table class="table mt-2">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author/s</th>
                <th scope="col">Status</th>
                <th scope="col">Category</th>
                <th scope="col">Location</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of book_list">
                <th class="vertical-align-middle" scope="row">
                    <a href="#" (click)="bookDetails($event, book)">
                        {{ book.title }}
                    </a>
                </th>
                <td class="vertical-align-middle">
                    <p *ngFor="let author of book.author" class="mb-1">
                        {{ author.full_name }},
                    </p>
                </td>
                <td class="vertical-align-middle">
                    <p class="mb-0" [ngClass]="{available: book.status==='available'}">
                        {{ book.status }}
                    </p>
                </td>
                <td class="vertical-align-middle">{{ book.category }}</td>
                <td class="vertical-align-middle">{{ book.location }}</td>
                <td class="vertical-align-middle">
                    <button class="btn btn-success" [disabled]="book.status === 'checked out'" (click)="editBook(book)">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
