<form class="form-group" [formGroup]="form.form">
    <div class="input-group mb-3">
        <input type="text" formControlName="search_text" class="form-control" placeholder="Search Title" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit"><i class="la la-search"></i></button>
        </div>
        <div class="input-group-append" ngbDropdown>
            <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle><i class="la la-filter"></i> Filter</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <a class="dropdown-item" href="." ngbDropdownItem >All</a>
                <a class="dropdown-item" href="#" ngbDropdownItem >Available</a>
                <a class="dropdown-item" href="#" ngbDropdownItem >Checked Out</a>
                <a class="dropdown-item" href="#" ngbDropdownItem >Digital Copy</a>
            </div>
        </div>
    </div>
</form>